<!DOCTYPE html>
<html>
  <head>
    <title>Domain Monitour - don't lose to expiration..</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <div id="nav">
        <%= link_to "Home", "/" %>
        <%= link_to "Domains", "/domains" %>
        <%= link_to "Import", "/import/select" %>
      </div>
      <%= yield %>
    </div>


  </body>
</html>
